#stats{
  background:#020617;
  display:flex;
  justify-content:center;
  gap:24px;
  padding:60px 0;
}

.stat{
  display:inline-flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  background:#020617;
  border:1px solid #1e293b;
  padding:16px 22px;
  border-radius:14px;
  width:fit-content;
  box-shadow:0 0 18px rgba(56,189,248,.12);
  transition:.25s ease;
}

.stat h2{
  font-size:30px;
  color:#38bdf8;
  line-height:1;
}

.stat p{
  font-size:13px;
  margin-top:6px;
  opacity:.7;
}

.stat:hover{
  transform:translateY(-4px);
  box-shadow:0 0 32px rgba(56,189,248,.25);
}
.about-grid{
  display:grid;
  grid-template-columns:repeat(3,1fr);
  gap:30px;
  margin-top:60px 0;
}

.about-box{
  background:#020617;
  border:1px solid #1e293b;
  padding:30px;
  border-radius:18px;
  box-shadow:0 0 30px rgba(56,189,248,.08);
  transition:.3s;
}

.about-box:hover{
  transform:translateY(-6px);
  box-shadow:0 0 50px rgba(56,189,248,.2);
}
.facility-list{
  display:grid;
  grid-template-columns:repeat(4,1fr);
  gap:30px;
  margin-top:40px;
}

.facility{
  background:#020617;
  border:1px solid #1e293b;
  padding:30px 20px;
  border-radius:18px;
  text-align:center;
  box-shadow:0 0 25px rgba(56,189,248,.08);
  transition:.3s;
}

.facility:hover{
  transform:translateY(-6px);
  box-shadow:0 0 50px rgba(56,189,248,.25);
}

.facility-icon{
  font-size:42px;
  margin-bottom:15px;
  color:#38bdf8;
}
#stats{
  background:#020617;
  display:flex;
  justify-content:space-around;
  text-align:center;
}

.stat{
  padding:0;
  border:none;
  box-shadow:none;
  background:none;
}
.map img{
  width:100%;
  height:100%;
  object-fit:cover;
  border-radius:10px;
}
